* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--bg-light);
  color: var(--text-dark);
}

a {
  text-decoration: none;
  color: inherit;
}

/* App Layout Structure */
.app-content {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}