.reservation-table-format {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr;
    align-items: center;
    gap: 50px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
    text-align: justify;
    margin-left: -60px;
    width: 1150px; /* Adjusted for 7 columns */
  }
  
  .reservation-table-format.title {
    background-color: #d1e76d;
  }
  
  .reservation-table-format b {
    font-size: 16px;
    color: black;
  }
  
  .reservation-table-format p {
    font-size: medium;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  select {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .s {
    color: rgb(5, 21, 243); /* Pending */
    font-weight: 700;
    font-size: medium;
  }
  
  .d {
    color: rgb(170, 154, 8); /* Confirmed */
    font-weight: 700;
    font-size: medium;
  }
  
  .f {
    color: rgb(25, 185, 4); /* Completed */
    font-weight: 700;
    font-size: medium;
  }
  
  .g {
    color: rgb(243, 21, 5); /* Cancelled */
    font-weight: 700;
    font-size: medium;
  }
  