.menu-page {
    padding: 20px;
}

.menu-page h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.menu-item-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.menu-item-info h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.menu-item-info p {
    margin: 5px 0;
    color: #666;
}

.add-to-cart {
    background-color: #D4AF37;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #c49732;
}
