.feedback-container {
  
    position: relative;
  }
  .img{
    display: flex;
  }
  .image {
    width: 100%;
    margin-bottom: -100px;
    margin-top: 50px;
    border-top: #adadad 2px solid;
  }
  
  .form-overlay {
    position: absolute;
    top: 45%; 
    left:23%;
    transform: translate(-50%, -50%);
  }
  
.feedback-form {
    width: 600px;
    height: 420px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #b8e7f3;
    margin-top: 50px;
    margin-left:50px;
    margin-bottom: -50px;
  }
  
  .h{
    margin-top: 20px;
    
    height: 2px;
    background-color: #e2e2e2;
    border: none;  }
  
  .feedback-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .from-inputs {
    margin-bottom: 20px;
  }
  
  .from-inputs input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .from-inputs textarea {
    
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 200px;
  }
  
  .s-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .s-button:hover {
    background-color: #0056b3;
  }
  
  .success-message,
  .error-message {
   
    margin-top: 10px;
    
    border-radius: 5px;
  }
  
  .success-message {
    background-color: #dff0d8;
    color: #3c763d;
    font-weight: 600;
    width: 230px;
  }
  
  .error-message {
    background-color: #f2dede;
    color: #a94442;
    font-weight: 600;
    width: 200px;
  }
  