 
.list {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.list-table2 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.list-table-format2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.list-table-format2.title {
    font-weight: bold;
   margin-bottom: 10px;
}

.list-table-format2 b {
    flex: 1;
    text-align: left;
    padding-right: 10px;
    color: black;
}

.list-table-format2 p {
    flex: 1;
    text-align: left;
    padding-right: 10px;
}




.list-table-format2.title {
    background-color: #d1e76d;
}