.list-table-format1{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 4fr ;
    align-items: center;
    gap: 10px;
    padding: 12px 15px ;
    border: 1px solid #cacaca;
    font-size: 13px ;
    text-align: justify;
}
.list-table-format1.title {
    background-color: #d1e76d;

}

.list-table-format1.title b{
    font-size: 16px;
    color: black;
}
.list-table-format1 p{
    font-size: medium;
}
