.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}
.explore-menu h1{
    color: #262626;
    font-weight: 600;
    text-align: center;
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 20px 0px;
    
}
.explore-menu-list-item img {
    width: 318px;  
    height: auto;  
    margin-right: 30px; 
    border-radius: 30px;
    border: 2px solid #000;
    cursor: pointer;
  }
  .explore-menu-list-item p {
   margin-top: 10px;
   color: #000000;
   font-size: max(1.4vw,34px);
   cursor: pointer;
   text-align: center;
  }
  
  .explore-menu-list-item .active{
    border: 4px solid tomato;
    padding: 2px;
  }